/* banner */
.banner-item{
    flex: 1;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.banner-left{
    display: flex;
    flex-direction: column;
}

.banner-item__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-item__content > * {
    margin-bottom: 10px;
}

.banner-item__content > img{
    width: 150px;
    height: 150px;
}

.banner-item__content > .age{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.banner-item__content > .age-item{

}

.banner-item .name{
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #171b20;
}

.banner-item span{
    font-size: 30px;
}

.banner-item .time{
    font-size: 60px;
    color: #ebc989;
    font-weight: bold;
}


/* type */
.type-item {
    text-align: center;
    font-size: 24px;
    color: #171b20;
    opacity: 0.5;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-bottom: 40px;
}

.type-item:hover {
    opacity: 1;
}

/* benefit */
.benefit-item {
    margin-bottom: 30px;
    margin-top: 30px;
}

.benefit-item img {
    width: 82px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.benefit-item .benefit-item__header {
    color: #171b20;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.benefit-item .paragraph {
    color: #6a717c;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.benefit-item .benefit-item__banner {
    width: 100%;
    height: 100%;
}

.benefit-item .benefit-item__banner img {
    width: 100%;
    height: 100%;
}

.benefit-separate {
    width: 150px;
    margin: auto;
    height: 10px;
}

/* post */
.post-item {
    position: relative;
}

.post-item:hover .post-item__content {
    padding-bottom: 40px;
}

.post-item__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    padding: 20px;
    padding-top: 70px;
    transition: all ease-in-out 0.35s;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAK8CAYAAAAnNXVxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs2j0OQDAYAFBtHcBmdf/DOQNWOlRQKa9Jl5fvLw2NQRjGKXS71a/7gLHLrGxkn4s+VzMWNwo3j9R8enwg/WKjaiOlV4evdiCp5cgIb8X0ucfmJ+9m0zdttUbfSy+ree5zq0rNbDqEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBC2C5u/8/Pe1wEGACptAhpxJmzZAAAAABJRU5ErkJggg==");
    height: auto;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
}

.post-item .author,
.post-item .time {
    font-size: 17px;
    display: flex;
    color: white;
    margin-bottom: 15px;
    margin-right: 10px;
}

.post-item .author i,
.post-item .time i {
    margin-right: 10px;
}

.post-item__content-title.first {
    font-size: 30px;
}



.post-item__content-title {
    font-size: 20px;
    color: white;
}


.post-item__content::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 10;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all ease-in-out 0.35s;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
}

.post-item:hover .post-item__content::after {
    width: 60%;
}

.post-item__content-info {
    display: flex;
}

/* sale */
.sale-item {
    width: 100%;
    height: 700px;
    position: relative;
}

.sale-item__content {
    position: absolute;
    /* top: 50%; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sale-item img{
    height: 100%;
    object-fit: cover;
}

.sale-item__content > * {
    margin-top: 10px;
}

.sale-item__content>span {
    font-size: 14px;
    font-weight: bold;
}


.sale-item__content>.sale-quantity {
    font-size: 74px;
    color: #ebc989;
    font-weight: bold;
    margin-bottom: -10px;
}

.sale-item__content>.name {
    font-size: 55px;
    color: #171b20;
    font-weight: bold;
}

.sale-item__content>.time {
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sale-item__content>.time .time-item{
    font-size: 20px;

}

.sale-item__content>.time .time-item span{
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #ebc989;
}

.sale-item__content .slide-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.slide-content{
    font-size: 12px;
}

.slide-content img{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {
    
}


@media screen and (max-width: 575px) {
    
}

@media screen and (max-width: 767px) {

}
